:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: relative;
  overflow: hidden;
  padding: 85px 75px;
  height: 750px;
}
.red-backgroundcolor {
  background-color: #e03d2e;
}
.logo {
  width: 70%;
  margin-top: 50px;
}

.yellow-text {
  color:#ffd800;
}

.ocultar {
  display: none;
}

.header-img {
position: absolute;
height: 140%;
top:50px;
right: 50px;
}

.header-boton {
  background-color: #ffd800;
  color:black;
  width: 20%;
  height: 50px;
}
